
<body>
	<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <p>Choose a Flash Card List Below</p>
      	<ul>
<li><%= link_to "Ruby Keywords", rubykeys_path %></li>
<li><%= link_to "Ruby Functions", cards_ruby_functs_path %></li>
<li><%= link_to "Ruby Examples", '#' %></li>
<li><%= link_to "Rails Keywords", '#' %></li>
<li><%= link_to "RSpec Keywords", '#' %></li>
<li><%= link_to "PHP Keywords", '#' %></li>
<li><%= link_to "Obj-C Keywords", '#' %></li>
<li><%= link_to "Tutorial", '#' %></li>
</ul>
    </div>
    <div class="span8 hero-unit">
      <!--Body content-->
      	<h1>Welcome to Flashy Programming!</h1></br>
      <p>Click on a flashcard set to the left for the language you would like to learn or click on the Tutorial link to see how I built this site.</br>I have developed this website/app on Ruby on Rails as a first project to find my weaknesses and to further enforce what I have learned.<p>
      	<p>I will be creating a tutorial on the exact way to build this site and the flashcard app that will be free. If you feel like it taught you anything or helped out there's a donation link on the footer if you feel like letting me know.</p>

    </div>
      <div class="span2">
      	<p>References</p>
  <ul>
  	<li class="pull-left"><a href="http://www.ruby-doc.com">Ruby-doc<%= image_tag("ruby.png", alt: "Ruby on Rails Icon") %></a></li>
  	<li class="pull-left"><a href="http://www.ruby-doc.com">Rails-doc<%= image_tag("rails.png", alt: "Ruby on Rails Icon") %></a></li>
  	<li class="pull-left"><a href="http://php.net/docs.php">PHP<%= image_tag("php.png", alt: "Ruby on Rails Icon") %></a></li>
  	<li class="pull-left"><a href="http://www.python.org/doc">Python<%= image_tag("python.png", alt: "Ruby on Rails Icon") %></a></li>
  	<li class="pull-left"><a href="http://developer.apple.com/library/mac/#documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html">Obj-C<%= image_tag("objc.png", alt: "Ruby on Rails Icon") %></a></li>
  </ul>


  </div>

</div>

</body>
</html>

