	
	<div class="container-fluid">
		<div class="row-fluid">
			    <div class="span1">
      <!--Sidebar content-->
      <p id="languages">Flashcards</p>
      	<ul>
<li><%= link_to "Ruby", rubyinfo_path %></li>
<li><%= link_to "Rails", railsinfo_path %></li>
<li class="notready"><%= link_to "RSpec", '#' %></li>
<li><%= link_to "Git", gitinfo_path %></li>
<li class="notready"><%= link_to "Heroku", '#' %></li>
<li class="notready"><%= link_to "jQuery", '#' %></li>
<li class="notready"><%= link_to "Obj-C", '#' %></li>

</ul>
    </div>
<div class="span2 offset1 pull-right"><p>* If you get the answer right the flashcard will reload. If not you will be directed to another page</p>
			</div>
		<div class= "offset3 center cards"><p><%= "#{@sym}" %></p>
		</div>
		<div class="span2 offset3">


<ul class="span">
	 <% for @random in @sym2 
		 if @random == @answer
			x = yield(:cardset) %>
			<li class="flash right"><%= link_to "#{@random}", x %></li>
			<% else 
				x = wrong_path %>
			
				<li class="flash wrong"><%= link_to "#{@random}", x %></li>
	 <% end %>
	  <% end %>
	</ul>
			
			</div>

		</div>
	</div>
	<div>
</div>
	
